@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.wrapper {
    display: flex;
    font-family: 'Lato', sans-serif;
    align-items: center;
    margin: 0;
    padding: 15px;
    justify-content: center;
    color:#edeff3;
  }
  

  .container1 {
    display: flex;
    background: #819d9f;
    padding: 15px 15px;
    border-radius: 10px;
    flex-direction: column;
    width: 300px;
  }

  .dia{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
  }
  .dia-texto {
    margin-top: 5px;
    height: 50px;
    align-items: center;
  }

  .clima{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;
  }

  .grados p{
    font-size: 40px;
    font-weight: bold;
  }

  
  .container2 {
    display: flex;
    background: #232830;
    width: 300px;
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
  }

  .datos{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .datos-texto{
    margin: 5px;
    flex-direction: row;
    justify-content: space-around;
  }

  .datos-texto p{
    width: fit-content;
  }

  .botones{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    padding: 10px;
  }

  .boton{
    align-items: center;
  }
  
  /* .datos{
    display: flex;
    flex-direction: row;
    background: red;
    padding: 10px;
  }

  .datos-texto-izq{
    background-color: purple;
    margin: 5px;
    justify-content: space-around;
  }

  .datos-texto-der{
    background-color: yellowgreen;
    margin: 5px;
    justify-content: space-around;
  }

  .botones{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    background: cyan;
    padding: 10px;
  }

  .boton{
    background: green;
    ;
  }
  */