@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.wrapper {
    display: flex;
    font-family: 'Lato', sans-serif;
    align-items: center;
    margin: 0;
    padding: 15px;
    justify-content: center;
    color:#edeff3;
  }
  

  .container1 {
    display: flex;
    background: #819d9f;
    padding: 15px 25px;
    border-radius: 10px;
    flex-direction: column;
    width: 300px;
    height: 380px
  }

  .dia{
    display: flex;
    flex-direction: column;  

  }
  .dia-texto-wd{
    display: flex;
    margin-top: 20px;
    align-items: center;
    height: 40px;
  }
  .dia-texto-wd p{
    font-size: 35px;
    
  }
  .dia-texto-fd{
    display: flex;
    align-items:  center;
    height: 15px;
  }
  .dia-texto-ct{
    align-items: center;
  }

  .clima{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .icono{
    display: flex;
  }
  .temperatura p{
    margin: 0;
    display: flex;
    font-size: 50px;
    font-weight: bold;
  }
  .grados{
    display: flex;
    align-items: center;
    height: 30px;
  }
  .grados p{
    font-size: 20px;
  }

  
  .container2 {
    display: flex;
    background: #232830;
    width: 300px;
    height: 360px;
    border-radius: 10px;
    flex-direction: column;
    padding: 15px;
  }

  .datos{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
  }

  .datos-texto{
    display: flex;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
    .datos-texto p{
    width: fit-content;
  }

  .botones{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
  }
  .boton{
    margin-bottom: 15px;
    display: flex;
  }
  .boton button{
    display: flex;
    margin: auto;
    background-color: #6481a8;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    align-items: center;
    justify-content: center;
    color: #dce1e9;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
  }
  .buscador{
    display: flex;
    justify-content: center;
  }
  .buscador input{
    height: 35px;
    width: 250px;
    border-radius: 10px;
  }